@{
    ViewData["Title"] = "Login Page";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="text-left">
        <h4>Enter Information</h4>
        <h6>@Model.AccountID, your login times : <span class="digit_no gradient">@ViewData["TensDig"]</span><span class="digit_no gradient">@ViewData["Digits"]</span>, You enter password is "@Model.Password".</h6>
        <br />
    </div>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Phone Number</th>
                <th>Customer Number</th>
                <th>Customer Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Total Bonus</th>
                <th>Total Amount</th>
                <th>Created Date Time</th>
                <th>Last Modified Date Time</th>
            </tr>
        </thead>
    </table>
    <script>
        $('#example').DataTable({
            "ajax": '/ERP/CustomerInfo',
            columns: [
                { data: 'phoneNumber' },
                { data: 'customerNumber' },
                { data: 'customerName' },
                { data: 'address' },        
                { data: 'email' },
                { data: 'totalBonus' },
                { data: 'totalAmount' },
                { data: 'createDateTime' },
                { data: 'lastUpdateDateTime' }
            ]
        });
    </script>
</body>
</html>