@{
    ViewData["Title"] = "ERP Page";
    var acumaticaURL = "https://www.acumatica.com";
}

<div class="text-center">
    <h1 class="display-5">Powerful Cloud ERP</h1>
    <p>Offical website</p>
    <a href=@acumaticaURL target="_blank" onclick="return popitup('popupex.html')">Acumatica Cloud xRP</a>
</div>


<style data-mw-deduplicate="TemplateStyles:r1228707490">
    .mw-parser-output .infobox-subbox {
        padding: 0;
        border: none;
        margin: -3px;
        width: auto;
        min-width: 100%;
        font-size: 100%;
        clear: none;
        float: none;
        background-color: transparent
    }

    .mw-parser-output .infobox-3cols-child {
        margin: auto
    }

    .mw-parser-output .infobox .navbar {
        font-size: 100%
    }

    body.skin-minerva .mw-parser-output .infobox-header, body.skin-minerva .mw-parser-output .infobox-subheader, body.skin-minerva .mw-parser-output .infobox-above, body.skin-minerva .mw-parser-output .infobox-title, body.skin-minerva .mw-parser-output .infobox-image, body.skin-minerva .mw-parser-output .infobox-full-data, body.skin-minerva .mw-parser-output .infobox-below {
        text-align: center
    }

    html.skin-theme-clientpref-night .mw-parser-output .infobox-full-data:not(.notheme) div:not(.notheme) {
        background: #1f1f23 !important;
        color: #f8f9fa
    }

    @@media(prefers-color-scheme:dark) {
        html.skin-theme-clientpref-os .mw-parser-output .infobox-full-data:not(.notheme) div:not(.notheme) {
            background: #1f1f23 !important;
            color: #f8f9fa
        }
    }
</style>

<table class="infobox vcard"><caption class="infobox-title fn org">Automobili Lamborghini S.p.A.</caption><tbody><tr><td colspan="2" class="infobox-image logo"><span typeof="mw:File"><a href="https://upload.wikimedia.org/wikipedia/en/d/df/Lamborghini_Logo.svg" class="mw-file-description"><img src="//upload.wikimedia.org/wikipedia/en/thumb/d/df/Lamborghini_Logo.svg/180px-Lamborghini_Logo.svg.png" decoding="async" width="180" height="202" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/en/thumb/d/df/Lamborghini_Logo.svg/270px-Lamborghini_Logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/d/df/Lamborghini_Logo.svg/360px-Lamborghini_Logo.svg.png 2x" data-file-width="267" data-file-height="300" /></a></span><br /><span typeof="mw:File"><a href="/wiki/File:Lamborghini_logo.svg" class="mw-file-description"><img src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Lamborghini_logo.svg/200px-Lamborghini_logo.svg.png" decoding="async" width="200" height="40" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Lamborghini_logo.svg/300px-Lamborghini_logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Lamborghini_logo.svg/400px-Lamborghini_logo.svg.png 2x" data-file-width="600" data-file-height="121" /></a></span></td></tr><tr><td colspan="2" class="infobox-image logo"><span class="mw-default-size" typeof="mw:File/Frameless"><a href="/wiki/File:Lamborghini,_Sant%27Agata_Bolognese,_Bologna.jpg" class="mw-file-description"><img src="//upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Lamborghini%2C_Sant%27Agata_Bolognese%2C_Bologna.jpg/220px-Lamborghini%2C_Sant%27Agata_Bolognese%2C_Bologna.jpg" decoding="async" width="220" height="165" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Lamborghini%2C_Sant%27Agata_Bolognese%2C_Bologna.jpg/330px-Lamborghini%2C_Sant%27Agata_Bolognese%2C_Bologna.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Lamborghini%2C_Sant%27Agata_Bolognese%2C_Bologna.jpg/440px-Lamborghini%2C_Sant%27Agata_Bolognese%2C_Bologna.jpg 2x" data-file-width="5152" data-file-height="3864" /></a></span><div class="infobox-caption">Headquarters in <a href="/wiki/Sant%27Agata_Bolognese" title="Sant&#39;Agata Bolognese">Sant'Agata Bolognese</a>, Italy</div></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;">Company type</th><td class="infobox-data category" style="line-height: 1.35em;"><a href="/wiki/Subsidiary" title="Subsidiary">Subsidiary</a></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;">Industry</th><td class="infobox-data category" style="line-height: 1.35em;"><a href="/wiki/Automotive_industry" title="Automotive industry">Automotive</a></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;">Founded</th><td class="infobox-data" style="line-height: 1.35em;">1963<span class="noprint">&#59;&#32;61&#160;years ago</span><span style="display:none">&#160;(<span class="bday dtstart published updated">1963</span>)</span></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;">Founder</th><td class="infobox-data agent" style="line-height: 1.35em;"><a href="/wiki/Ferruccio_Lamborghini" title="Ferruccio Lamborghini">Ferruccio Lamborghini</a></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;">Headquarters</th><td class="infobox-data adr" style="line-height: 1.35em;"><div style="display: inline;" class="locality"><a href="/wiki/Sant%27Agata_Bolognese" title="Sant&#39;Agata Bolognese">Sant'Agata Bolognese</a>, <a href="/wiki/Emilia-Romagna" title="Emilia-Romagna">Emilia-Romagna</a></div>, <div style="display: inline;" class="country-name">Italy</div></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;"><div style="display: inline-block; line-height: 1.2em; padding: .1em 0;">Number of locations</div></th><td class="infobox-data" style="line-height: 1.35em;">135 dealerships</td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;"><div style="display: inline-block; line-height: 1.2em; padding: .1em 0;">Area served</div></th><td class="infobox-data" style="line-height: 1.35em;">Worldwide</td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;"><div style="display: inline-block; line-height: 1.2em; padding: .1em 0;">Key people</div></th><td class="infobox-data agent" style="line-height: 1.35em;"><a href="/wiki/Stephan_Winkelmann" title="Stephan Winkelmann">Stephan Winkelmann</a> (<a href="/wiki/Chief_executive_officer" title="Chief executive officer">CEO</a>)<sup id="cite_ref-luxus-plus.com_1-0" class="reference"><a href="#cite_note-luxus-plus.com-1">&#91;1&#93;</a></sup></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;"><div style="display: inline-block; line-height: 1.2em; padding: .1em 0;">Production output</div></th><td class="infobox-data" style="line-height: 1.35em;"><span typeof="mw:File"><span title="Increase"><img alt="Increase" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/11px-Increase2.svg.png" decoding="async" width="11" height="11" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/17px-Increase2.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/22px-Increase2.svg.png 2x" data-file-width="300" data-file-height="300" /></span></span> 9,233 vehicles (2022)<sup id="cite_ref-2" class="reference"><a href="#cite_note-2">&#91;2&#93;</a></sup></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;">Revenue</th><td class="infobox-data" style="line-height: 1.35em;"><span typeof="mw:File"><span title="Increase"><img alt="Increase" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/11px-Increase2.svg.png" decoding="async" width="11" height="11" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/17px-Increase2.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/22px-Increase2.svg.png 2x" data-file-width="300" data-file-height="300" /></span></span> €2.38&#160;billion (2022)<sup id="cite_ref-fr2015_3-0" class="reference"><a href="#cite_note-fr2015-3">&#91;3&#93;</a></sup></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;"><div style="display: inline-block; line-height: 1.2em; padding: .1em 0;"><a href="/wiki/Earnings_before_interest_and_taxes" title="Earnings before interest and taxes">Operating income</a></div></th><td class="infobox-data" style="line-height: 1.35em;"><span typeof="mw:File"><span title="Increase"><img alt="Increase" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/11px-Increase2.svg.png" decoding="async" width="11" height="11" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/17px-Increase2.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/22px-Increase2.svg.png 2x" data-file-width="300" data-file-height="300" /></span></span> €614 million</td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;"><div style="display: inline-block; line-height: 1.2em; padding: .1em 0;"><a href="/wiki/Net_income" title="Net income">Net income</a></div></th><td class="infobox-data" style="line-height: 1.35em;"><span typeof="mw:File"><span title="Increase"><img alt="Increase" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/11px-Increase2.svg.png" decoding="async" width="11" height="11" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/17px-Increase2.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/22px-Increase2.svg.png 2x" data-file-width="300" data-file-height="300" /></span></span> €10.1&#160;million (2014)<sup id="cite_ref-fr2015_3-1" class="reference"><a href="#cite_note-fr2015-3">&#91;3&#93;</a></sup></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;"><span class="nowrap"><a href="/wiki/Equity_(finance)" title="Equity (finance)">Total equity</a></span></th><td class="infobox-data" style="line-height: 1.35em;"><span typeof="mw:File"><span title="Increase"><img alt="Increase" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/11px-Increase2.svg.png" decoding="async" width="11" height="11" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/17px-Increase2.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/22px-Increase2.svg.png 2x" data-file-width="300" data-file-height="300" /></span></span> €1.832&#160;billion (2014)<sup id="cite_ref-fr2015_3-2" class="reference"><a href="#cite_note-fr2015-3">&#91;3&#93;</a></sup></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;"><div style="display: inline-block; line-height: 1.2em; padding: .1em 0;">Number of employees</div></th><td class="infobox-data" style="line-height: 1.35em;">1,779 (December 2020)<sup id="cite_ref-4" class="reference"><a href="#cite_note-4">&#91;4&#93;</a></sup></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;"><a href="/wiki/Parent_company" class="mw-redirect" title="Parent company">Parent</a></th><td class="infobox-data" style="line-height: 1.35em;"><a href="/wiki/Audi" title="Audi">Audi AG</a></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;"><a href="/wiki/Subsidiary" title="Subsidiary">Subsidiaries</a></th><td class="infobox-data" style="line-height: 1.35em;"><a href="/wiki/Ducati_Motor_Holding_S.p.A." class="mw-redirect" title="Ducati Motor Holding S.p.A.">Ducati Motor Holding S.p.A.</a> <br /> <a href="/wiki/Italdesign_Giugiaro" title="Italdesign Giugiaro">Italdesign Giugiaro</a></td></tr><tr><th scope="row" class="infobox-label" style="padding-right: 0.5em;">Website</th><td class="infobox-data" style="line-height: 1.35em;"><a rel="nofollow" class="external text" href="http://lamborghini.com/en-en/">lamborghini.com</a></td></tr></tbody></table>
<p>
    <b>Automobili Lamborghini S.p.A.</b> (
    <style data-mw-deduplicate="TemplateStyles:r1177148991">
        .mw-parser-output .IPA-label-small {
            font-size: 85%
        }

        .mw-parser-output .references .IPA-label-small, .mw-parser-output .infobox .IPA-label-small, .mw-parser-output .navbox .IPA-label-small {
            font-size: 100%
        }
    </style><span class="IPA-label IPA-label-small">Italian:</span> <span class="IPA nowrap" lang="it-Latn-fonipa"><a href="/wiki/Help:IPA/Italian" title="Help:IPA/Italian">&#91;autoˈmɔːbili<span class="wrap"> </span>lamborˈɡiːni&#93;</a></span>) is an Italian manufacturer of luxury <a href="/wiki/Sports_car" title="Sports car">sports cars</a> and <a href="/wiki/SUV" title="SUV">SUVs</a> based in <a href="/wiki/Sant%27Agata_Bolognese" title="Sant&#39;Agata Bolognese">Sant'Agata Bolognese</a>. The company is owned by the <a href="/wiki/Volkswagen_Group" title="Volkswagen Group">Volkswagen Group</a> through its subsidiary <a href="/wiki/Audi" title="Audi">Audi</a>.
</p><p>
    <a href="/wiki/Ferruccio_Lamborghini" title="Ferruccio Lamborghini">Ferruccio Lamborghini</a> (1916–1993), an Italian <a href="/wiki/Business_magnate" title="Business magnate">manufacturing magnate</a>, founded Automobili Ferruccio Lamborghini S.p.A. in 1963 to compete with <a href="/wiki/Ferrari" title="Ferrari">Ferrari</a>. The company was noted for using a <a href="/wiki/Rear_mid-engine,_rear-wheel-drive_layout" title="Rear mid-engine, rear-wheel-drive layout">rear mid-engine, rear-wheel drive</a> layout. Lamborghini grew rapidly during its first decade, but sales plunged in the wake of the <a href="/wiki/1973%E2%80%931974_stock_market_crash" title="1973–1974 stock market crash">1973 worldwide financial downturn</a> and the <a href="/wiki/1973_oil_crisis" title="1973 oil crisis">oil crisis</a>. The firm's ownership changed three times after 1973, including a bankruptcy in 1978. American <a href="/wiki/Chrysler" title="Chrysler">Chrysler Corporation</a> took control of Lamborghini in 1987 and sold it to Malaysian investment group Mycom Setdco and Indonesian group V'Power Corporation in 1994. In 1998, Mycom Setdco and V'Power sold Lamborghini to the Volkswagen Group where it was placed under the control of the group's Audi division.
</p><p>
    New products and model lines were introduced to the brand's portfolio and brought to the market and saw an increased productivity for the brand. In the late 2000s, during the <a href="/wiki/Financial_crisis_of_2007%E2%80%932010" class="mw-redirect" title="Financial crisis of 2007–2010">worldwide financial crisis</a> and the subsequent economic crisis, Lamborghini's sales saw a drop of nearly 50 per cent.
</p><p>
    Lamborghini currently produces the V10-powered <a href="/wiki/Lamborghini_Hurac%C3%A1n" title="Lamborghini Huracán">Huracán</a>, <a href="/wiki/Lamborghini_Urus" title="Lamborghini Urus">Urus</a> SUV powered by a <a href="/wiki/Twin-turbo" title="Twin-turbo">twin-turbo</a> <a href="/wiki/V8_engine" title="V8 engine">V8 engine</a>, and will produce the <a href="/wiki/Lamborghini_Revuelto" title="Lamborghini Revuelto">Revuelto</a>, a V12/<a href="/wiki/Plug-in_hybrid" title="Plug-in hybrid">electric hybrid</a>, as of 2024. In addition, the company produces <a href="/wiki/V12_engine" title="V12 engine">V12 engines</a> for <a href="/wiki/Offshore_powerboat_racing" title="Offshore powerboat racing">offshore powerboat racing</a>.
</p><p>
    <a href="/wiki/Lamborghini_Trattori" title="Lamborghini Trattori">Lamborghini Trattori</a>, founded in 1948 by Ferruccio Lamborghini, is headquartered in <a href="/wiki/Pieve_di_Cento" title="Pieve di Cento">Pieve di Cento</a>, Italy, and continues to produce <a href="/wiki/Tractor" title="Tractor">tractors</a>. Since 1973, Lamborghini Trattori has been a separate entity from the automobile manufacturer.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/doAyDyJEyVE?si=9fq5SMmjRiJIT958" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<video id="my-video"
       class="video-js"
       controls
       preload="auto"
       width="640"
       height="264"
       poster="MY_VIDEO_POSTER.jpg"
       data-setup="{}">
    <source src="MY_VIDEO.mp4" type="video/mp4" />
    <source src="MY_VIDEO.webm" type="video/webm" />
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>

<script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>