@{
    ViewData["Title"] = "ERP Page";
    var acumaticaURL = "https://www.acumatica.com";
}

<div class="text-center">
    <h1 class="display-7">Powerful Cloud ERP</h1>
    <p>Offical website</p>
    <a href=@acumaticaURL target="_blank" onclick="return popitup('popupex.html')">Acumatica Cloud xRP</a>
</div>

